* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;


}
.Header{
  margin-top: 2em;
  text-align: center;
  font-size: 2.9rem;
  color: brown;
  font-weight:bold ;
  margin: 1em;

}
.input-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2em;
  width: 35vw;
 
}

input{
  height: 7vh;
  width: 35vw;
  border: 1px solid brown;
  font-size: 1rem;
  padding-left: 0.6;
  
}
.btn{
  height: 7.5vh;
  width: 6vw;
  border: 1px solid brown;
  background-color: white;
  }

  .display-section{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    margin: 3.5rem;
    font-size: 1.6em;
    
    height: 100vh;
    border-radius: 12px;
    
   
    }
   .todo{
  border:  1px solid brown;
   
    width:100vh;
    padding: 0.9em;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 1.5em;
    gap: 65%;
   
    

   }
   .title{
    text-align: center;
    margin-top: 1.8em;
    font-size: 1.9rem;
    color: brown;
   }
   .btn-i{
    background-color: white;
    border: none;
    font-size: 1.3em;
    }
    .btn-ij{
      background-color: brown;
      color: white;
      height: 3em;
      width: 4em;
    }
    .toggle{
      display: flex;
      align-items: center;
     width: 20vw;
      gap: 2rem;

    }
